h1 {
    height: 100px;
    width: 120px;
    background-color: blue;
    color: rgb(255, 255, 255);
    padding: 30px;
}

h1:hover {
    text-align: center;
    height: 200px;
    width: 200px;
    transition: 1s;
    background-color: blueviolet;
}

h2 {
    height: 100px;
    width: 130px;
    background-color: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
}

h2:hover {
    text-align: center;
    height: 200px;
    width: 240px;
    transition: 1s;
    background-color: rgb(223, 209, 19);
}

h3 {
    height: 100px;
    width: 120px;
    background-color: rgb(120, 0, 145);
    color: rgb(255, 255, 255);
    padding: 30px;
}

h3:hover {
    text-align: center;
    height: 200px;
    width: 240px;
    transition: 1s;
    background-color: rgb(216, 4, 205);
}